.common_modal__center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 590rpx;
  background: #ffffff;
  border-radius: 20rpx;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.common_modal__container {
  padding: 40rpx 50rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.common_modal__title {
  font-size: 34rpx;
  font-family: PingFangSC, PingFang SC;
  font-weight: 500;
  color: #192238;
  line-height: 48rpx;
}

.common_modal__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 32rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #7f7e7d;
  line-height: 48rpx;
}

.common_modal__title+.common_modal__content {
  margin-top: 42rpx;
}

.common_modal__cutormodal_content {
  display: inline-block;
}

.common_modal__btns {
  width: 100%;
  display: flex;
  align-items: center;
  height: 102rpx;
  border-top: 2rpx solid #f6f6f8;
}

.common_modal__btn_cancel {
  height: 100%;
  flex: 1;
  font-size: 32rpx;
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  color: #666666;
  line-height: 44rpx;
  display: flex;
  align-items: center;
  justify-content: center;
}

.common_modal__btn_confirm {
  height: 100%;
  flex: 1;
  font-size: 32rpx;
  font-family: PingFangSC, PingFang SC;
  font-weight: 500;
  color: #497cd8;
  line-height: 44rpx;
  display: flex;
  align-items: center;
  justify-content: center;
}

.common_modal__btn_cancel+.common_modal__btn_confirm {
  border-left: 2rpx solid #f6f6f8;
}