.navFixed {
  background-repeat: no-repeat;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  display: flex;
  flex-direction: column;
}

.navMenu {
  position: relative;
  display: flex;
  // align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  font-size: 17px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #000000;
  line-height: 24px;
}

.left {
  height: 100%;
  position: absolute;
  left: 15px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.icon_navbar_back_black {
  width: 20px;
  height: 20px;
}

.right {
  height: 100%;
  position: absolute;
  right: 15px;
}