.MMPicture {
    overflow: hidden;
    position: relative;
}

.inPicture {
    display: block;
    width: 100%;
    height: 100%;
}

.loading {
    &.MMPicture {
        background: #f0f4fb url('./images/image_bg.png') center bottom / contain no-repeat;
    }
    .inPicture {
        visibility: hidden;
    }
}
