.common_payment_input {
  width: 40rpx;
  font-size: 30rpx;
  font-weight: 600;
  color: #2a2827;
  line-height: 42rpx;
  text-align: center;
}

.common_payment_minus {
  padding-right: 20rpx;
  border-radius: 30rpx 30rpx 0 0;
}

.common_payment_plus {
  padding-left: 20rpx;
  border-radius: 0 0 30rpx 30rpx;
}

.common_payment_minus,
.common_payment_plus {
  image {
    width: 24rpx;
    height: 24rpx;
  }
}