.loginPage {
  min-height: 100vh;
  background-color: #fff;
  position: relative;
}

.common_login_logo_box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 130px 0 85px;
}

.common_login_logo {
  width: 102px;
  height: 102px;
}

.common_login_agreement {
  color: #2a2827;
  font-weight: bold;
  font-size: 12px;
}

.common_login_label {
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #7f7e7d;
  line-height: 16px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.common_agreement {
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.common_agree_icon {
  position: relative;

  .common_agree_tips {
    position: absolute;
    width: 121px;
    height: 32px;
    top: 22px;
    left: -8px;
    background-size: 100%;
    font-size: 11px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    line-height: 32px;
    padding-top: 2px;
  }
}

.login_btn {
  margin: 0;
  padding: 0;
  height: 48px;
  background: #fc9240;
  border-radius: 100px;
  font-size: 15px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffffff;
  line-height: 48px;
}

.wxapp_login {
  width: 52px;
  height: 52px;
  position: absolute;
  /* 将文本设置为绝对定位 */
  left: 50%;
  /* 将文本的左侧距离容器宽度的一半对齐 */
  transform: translateX(-50%);
  /* 将文本水平垂直居中 */
  bottom: 50px;
}

.login-container {
  width: 295px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 50%;
  /* 将文本的左侧距离容器宽度的一半对齐 */
  transform: translateX(-50%);
  /* 将文本水平垂直居中 */
  top: 40%;
  /* 将文本的左侧距离容器宽度的一半对齐 */
}

.input-container {
  width: 295px;
  height: 56px;
  background: #f8f5f1;
  border-radius: 10px;
  padding: 0 16px;
  display: flex;
  align-items: center;

  .input-phone-type {
    font-size: 18px;
    font-weight: 600;
    color: #2a2827;
    padding: 0 10px 0 0px;
  }

  .input-phone-text {
    font-size: 15px;
    font-weight: 400;
    // color: #abaaa8;
  }

  .input-code {
    font-size: 12px;
    font-weight: 400;
    color: #2a2827;
    margin-left: auto;
    min-width: 61px;
    text-align: right;
  }
}

.isDisabled {
  opacity: 0.3;
}